html, body {
    height: 100%;
}

body {
    display: block;
    margin: auto;
    background-color: black;
    background-image: url(imgs/l5p-bg.png);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#main {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 600px;
    display: block;
    margin: auto;
    color: red;
}
#title {
    display: block;
    margin: auto;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 75px;
}
#titleimg {
    stroke: black;
    stroke-width: 10px;
    filter: drop-shadow(5px 9px 5px black);
}
#dicediv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice {
    display: block;
    position: relative;
    width: 120px;
    height: auto;
    filter: drop-shadow(5px 9px 5px black);
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#scoreboard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(2px 2px 1px black);
}
#response {
    font-size: 50px;
    color: #A400E8;
}
#scoretext, #scorenum {
    font-size: 30px;
}
#scorenum {
    margin-top: -30px;
}